prefer-no-csd
cursor {
  xcursor-theme "Shinobu-Oshino";
  xcursor-size 24;
}
debug {
  honor-xdg-activation-with-invalid-serial
}
input {
  keyboard {
    xkb {
    }
  }
  mouse {
    accel-profile "flat"
  }
  focus-follows-mouse max-scroll-amount="0%"
}
output "DP-1" {
  mode "2560x1440@480.000"
  position x=1080 y=0
}
output "DP-2" {
  mode "1920x1080"
  transform "270"
  position x=0 y=0
}
layout {
  gaps 5
  center-focused-column "never"
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    }
    default-column-width { proportion 0.5; } //proportion 0.5; 
    focus-ring {
      width 1.5 //3
      active-color "#ffd799"
      inactive-color "#16130e"
      urgent-color   "#ffb4ab"
    }
    border {
      off
      width 1.5 //4
      active-color   "#ffd799"
      inactive-color "#16130e"
      urgent-color   "#ffb4ab"
    }
    shadow {
      off
      softness 30
      spread 5
      offset x=0 y=5
      color "#0007"
    }
    tab-indicator {
      active-color   "#ffd799"
      inactive-color "#e4bb79"
      urgent-color   "#ffb4ab"
    }
    insert-hint {
      color "#ffd79980"
    }
    struts {
    }
}
spawn-at-startup "waybar"
spawn-at-startup "dunst"
spawn-at-startup "swaybg" "-i" "/home/allie/Pictures/Wallpapers/wallhaven_r7m8j7.jpg" "-m" "fill"
spawn-at-startup "librewolf"
spawn-at-startup "discord"
spawn-at-startup "spotify"
spawn-at-startup "polkit-gnome-authentication-agent-1"
hotkey-overlay {
  skip-at-startup
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
}
window-rule {
    open-maximized true
}
window-rule {
  match app-id="Alacritty"
  match app-id="discord"
  match app-id="librewolf"
  match app-id="Spotify"
  match app-id="helium"
  //match app-id="steam"
  match app-id="kitty"
  opacity 0.9
  draw-border-with-background false
  background-effect {
    blur false
    xray true
    noise 0.05
    saturation 2
  }
}
window-rule {
  match app-id="librewolf"
  match app-id="helium"
  //opacity 0.9
  draw-border-with-background false
  background-effect {
    blur true
    xray true
  }
}
window-rule {
  match app-id=r#"^org.wezfurlong.wezterm$"#
  default-column-width {}
}
window-rule {
  match app-id=r#"librewolf$"# title="^Picture-in-Picture$"
  open-floating true
}
window-rule {
  match app-id="kitty"
  match app-id="dev.noctalia.Noctalia.Settings"
  open-maximized false
}
window-rule {
  geometry-corner-radius 9 //12
  draw-border-with-background false
  clip-to-geometry true
  //tiled-state true
}
/-window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { fixed 1440; }
  default-window-height { fixed 2560; }
}
binds {
  Mod+Shift+Slash { show-hotkey-overlay; }
  Mod+B hotkey-overlay-title="Open a Browser: zen" { spawn "librewolf"; }
  Mod+return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
  Mod+D hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
  Mod+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
  Mod+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }
  XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
  XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
  XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
  XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
  XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
  XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
  Mod+Shift+O repeat=false { toggle-overview; }
  Mod+Z { spawn "wlogout"; }
  Mod+P repeat=false { close-window; }
  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }
  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-down; }
  Mod+K     { focus-window-up; }
  Mod+L     { focus-column-right; }
  Mod+Ctrl+Left  { move-column-left; }
  Mod+Ctrl+Down  { move-window-down; }
  Mod+Ctrl+Up    { move-window-up; }
  Mod+Ctrl+Right { move-column-right; }
  Mod+Ctrl+H     { move-column-left; }
  Mod+Ctrl+J     { move-window-down; }
  Mod+Ctrl+K     { move-window-up; }
  Mod+Ctrl+L     { move-column-right; }    
  Mod+Home { focus-column-first; }
  Mod+End  { focus-column-last; }
  Mod+Ctrl+Home { move-column-to-first; }
  Mod+Ctrl+End  { move-column-to-last; }
  Mod+Shift+Left  { focus-monitor-left; }
  Mod+Shift+Down  { focus-monitor-down; }
  Mod+Shift+Up    { focus-monitor-up; }
  Mod+Shift+Right { focus-monitor-right; }
  Mod+Shift+H     { focus-monitor-left; }
  Mod+Shift+J     { focus-monitor-down; }
  Mod+Shift+K     { focus-monitor-up; }
  Mod+Shift+L     { focus-monitor-right; }
  Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
  Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
  Mod+Page_Down      { focus-workspace-down; }
  Mod+Page_Up        { focus-workspace-up; }
  Mod+Shift+U              { focus-workspace-down; }
  Mod+Shift+I              { focus-workspace-up; }
  Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
  Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
  Mod+Ctrl+Alt+U         { move-column-to-workspace-down; }
  Mod+Ctrl+Alt+I         { move-column-to-workspace-up; }
  Mod+Shift+Page_Down { move-workspace-down; }
  Mod+Shift+Page_Up   { move-workspace-up; }
  Mod+Ctrl+Shift+U         { move-workspace-down; } //Mod+Shift+U
  Mod+Ctrl+Shift+I         { move-workspace-up; } //Mod+Shift+I
  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
  Mod+WheelScrollRight      { focus-column-right; }
  Mod+WheelScrollLeft       { focus-column-left; }
  Mod+Ctrl+WheelScrollRight { move-column-right; }
  Mod+Ctrl+WheelScrollLeft  { move-column-left; }
  Mod+Shift+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        { focus-column-left; }
  Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }
  Mod+Q { focus-workspace 1; }
  Mod+W { focus-workspace 2; }
  Mod+E { focus-workspace 3; }
  Mod+R { focus-workspace 4; }
  Mod+T { focus-workspace 5; }
  Mod+Y { focus-workspace 6; }
  Mod+U { focus-workspace 7; }
  Mod+I { focus-workspace 8; }
  Mod+O { focus-workspace 9; }
  Mod+Ctrl+Q { move-column-to-workspace 1; }
  Mod+Ctrl+W { move-column-to-workspace 2; }
  Mod+Ctrl+E { move-column-to-workspace 3; }
  Mod+Ctrl+R { move-column-to-workspace 4; }
  Mod+Ctrl+T { move-column-to-workspace 5; }
  Mod+Ctrl+Y { move-column-to-workspace 6; }
  Mod+Ctrl+U { move-column-to-workspace 7; }
  Mod+Ctrl+I { move-column-to-workspace 8; }
  Mod+Ctrl+O { move-column-to-workspace 9; }
  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }
  Mod+Comma  { consume-window-into-column; }
  Mod+Period { expel-window-from-column; }
  Mod+Shift+R { switch-preset-column-width; } //Mod+R
  Mod+Shift+X { switch-preset-column-width-back; } //Mod+Shift+R
  Mod+Ctrl+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+Alt+R { reset-window-height; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
  Mod+M { maximize-window-to-edges; }
  Mod+Ctrl+F { expand-column-to-available-width; }
  Mod+C { center-column; }
  Mod+Ctrl+C { center-visible-columns; }
  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }
  Mod+V { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }
  Mod+Shift+W { toggle-column-tabbed-display; }
  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }
  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
  Mod+Shift+E { quit; }
  Ctrl+Alt+Delete { quit; }
  Mod+Shift+P { power-off-monitors; }
}
//include "noctalia.kdl"
