/*
@define-color bg #141315;
@define-color fg #ccc1e7;
*/

@define-color bg #151313;
@define-color fg #e8e1e0;

/*
@define-color bg #1F1F28;
@define-color fg #C4B28A;
*/
@define-color blk #393836;
@define-color red #c4746e;
@define-color grn #699469;     
@define-color ylw #C8C093;     
@define-color blu #a9c7ff;     
@define-color mag #938AA9;     
@define-color cyn #8ea49e;     
@define-color brblk #4f4445;   
@define-color white #fffbff;


* {
    font-family: "Maple Mono NF", monospace;
    font-size: 16px;
    font-weight: bold;
}

/* Main bar */
window#waybar {
    background-color: @bg;
    color: @fg;
}

/* Workspaces */
#workspaces button {
    padding: 0 6px;
    color: @fg;
    background: transparent;
    border-bottom: 3px solid @bg;
}

#workspaces button.active {
    color: @white;
    border-bottom: 3px solid @fg;
}

#workspaces button.empty {
    color: @brblk;
}

#workspaces button.empty.active {
    color: @brblk;
    border-bottom: 3px solid @fg;
}

#workspaces button.urgent {
    background-color: @red;
}

/* Hover effect
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @white;
}
*/
/* Modules */
#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    color: @fg;
    background-color: @bg;
}
#tray menu {
  background: @bg;
  color: @fg;
}
#cava {
    color: @fg;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @fg;
}

/* Battery */
#battery {
    color: @mag;
    border-bottom: 4px solid @mag;
}

/* Disk */
#disk {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

/* Memory */
#memory {
    color: @mag;
    border-bottom: 4px solid @mag;
}

/* Network */
#network {
    color: @fg;
}
#bluetooth {
    color: @fg;
}

#network.disconnected {
    background-color: @red;
}

