@define-color bg #282828;
@define-color fg #ffd799;
@define-color blk #1d2021;
@define-color red #ffb4ab;
@define-color grn #b8e3c6;     
@define-color ylw #e4bb79;     
@define-color blu #a9c7ff;     
@define-color mag #e2b6ff;     
@define-color cyn #b6f0ea;     
@define-color brblk #3c3836;   
@define-color white #fff7fb;   

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

/* Main bar */
window#waybar {
    background-color: @bg;
    color: @fg;
}

/* Workspaces */
#workspaces button {
    padding: 0 6px;
    color: @fg;
    background: transparent;
    border-bottom: 3px solid @bg;
}

#workspaces button.active {
    color: @fg;
    border-bottom: 3px solid @fg;
}

#workspaces button.empty {
    color: @white;
}

#workspaces button.empty.active {
    color: @cyn;
    border-bottom: 3px solid @fg;
}

#workspaces button.urgent {
    background-color: @red;
}

/* Hover effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @white;
}

/* Modules */
#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    color: @fg;
    background-color: @bg;
}
#tray menu {
  background: @bg;
  color: @fg;
}
#cava {
    color: @fg;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @fg;
}

/* Battery */
#battery {
    color: @mag;
    border-bottom: 4px solid @mag;
}

/* Disk */
#disk {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

/* Memory */
#memory {
    color: @mag;
    border-bottom: 4px solid @mag;
}

/* Network */
#bluetooth {
    color: @fg;
}
#network {
    color: @fg;
}

#network.disconnected {
    background-color: @red;
}

